
.div__BubbleScrollBar_zone{
    position: fixed;
    width: 20px;
    height: 500px;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    
    z-index: 1000;

}
.div__BubbleScrollBar {
    position: absolute;
    width: 300px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    
    transition: all .2s linear;
}

.div__BubbleScrollItem{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .9em;

    & .div__BubbleScrollItem_label {
        // width: 100%;
        margin-right: 20px;
        // margin: auto;

        text-align: center;
        color: #adadad;
        
        & a{
            position: relative;
            display: block;
            width: 100%;
            padding: 5px 20px;
            
            background-color: #4a4a4a69;
            text-decoration: none;
            color: inherit;
            border-radius: 15px;
        }
    }


    // Item decoration styles
    & .span__BubbleScrollItem_decoration_bubble{
        display: block;
        width: 20px;
        height: 20px;
        background-color: #4A4A4AC4;
        border-radius: 50%;

        transition: all .1s ease;

    }

    &.focusing{
        color: #eee;
        filter: brightness(150%);

        
        & .span__BubbleScrollItem_decoration_bubble{
            transform: scale(180%);
        }
    }

    &:hover{
        filter: brightness(170%);
    }
}

.hide{
    // right: -600px;
    // right: 0;
}


@media(max-width: 600px){

    .div__BubbleScrollBar{
        right: -15px;  

    }
    .div__BubbleScrollItem{
        // padding: 10px 0;

        & .div__BubbleScrollItem_label{
            margin-right: 10px;

            & a{
                padding: 2px 12px;
            }
        }


        & .span__BubbleScrollItem_decoration_bubble{
            width: 10px;
            height: 10px;
        }
    }


}